* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
  
}
body{

  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  /* border: 2px solid red; */
}

nav {
  flex: 1;
  text-align: right;
  /* border: 1px solid red; */
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* checkpoint - crud app */

p {
  color: rgb(0, 0, 0);
}

.nav-toggle {
  display: none;
  transition: all 0.3s linear; 
}

.nav-toggle:hover {
  color: black;
  transform: rotate(90deg);
}

.links a {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: hsl(189, 70%, 25%);
  color: white;
  padding-left: 15px;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 200px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.container2 {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.col-1 {

  flex-basis: 60%;
  min-width: 400px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #fff;
}

.col-2 p {
  color: white;
}

.btn {
  display: inline-block;
  background: #386f80;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn2 {
  display: inline-block;
  background: #ff8c00;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #2c5867;
}

.btn2:hover {
  background: #ba6600;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: #fff;
  cursor: pointer;
}

.bag-icon {
  font-size: 24px;
}

.header {
  background-image: url(./images\ 3/header-bg.jpg);
  background-size: cover;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* border: 1px solid blue; */
}

.small-container2 {
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  /* padding-left: 25px; */
  /* border: 1px solid red; */
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  /* border: 1px solid red; */
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #386f80;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #386f80;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  
  /* border: 1px solid orange; */
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
  
  
}
/* .offer-text-color {
  color: #555;
} */
/* .col-2 p, .col-2 h1, .col-2 small {
  color: white;
} */



small {
  color: #555;

}

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-1 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}


.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);
} 

.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* ------------------------------  Brands  --------------------------------------- */

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* -------------------------- Footer --------------------------------- */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  min-width: 100vw;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
  text-align: center;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}

/* -------------------------- About  --------------------------*/

.about {
  height: 600px;
  color: white;
  
  /* padding-top: 100px; */
  text-align: center;
  
  
  display: flex;
  align-items: center;
}
.about h3, .about p {
  color: white;
}

.about p {
  padding-top: 20px;
  line-height: 200%;
}

.about .col-1 {
  border-radius: 30px;
  background-color: rgba(180, 180, 180, 0.35);
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

/* ------------------ Contact ---------------*/




/* ------------------Utility Classes ---------------*/

.color1 {
  color: white;
}

.color2 p, .color2 h1, .color2 small {
  color: #555;
}

.about:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("./images\ 3/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}


/* ------------------ Products.html ---------------------------------- */



/* ----------------------- Media Queries --------------------------- */

@media  (max-width: 653px){
  .landing-img {
    display: none;
  }
  .full-width {
    flex-basis: 100%;
    width: 100%;
  }

  .navbar ul.main-nav-links {
    display: none;
  }

  .navbar span.material-symbols-outlined {
    display: none;
  }

  .nav-toggle {
    color: white;
    display: inline-block;
    cursor: pointer;
  }

  .nav-toggle i {
    font-size: 30px;
  }

}